.card {
  padding: 2em;
  position: relative;
  width: 200px;
  border-radius: 12px;
  box-shadow: inset #000000 0px 0px 0, #000000 0px 3px 8px;
  background-color: white;
  transition: all 0.1s;
  img {
    border-radius: 10px;
  }
}
.card:hover {
  box-shadow: inset #000000 0px 0px 0, #000000 0px 3px 15px;
}
.card:active {
  scale: 0.98;
  box-shadow: inset #000000 0px 8px 15px, black 0 0 0;
  border: 1px 1px 1px 1px;
}
